/* .App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.App p {
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.App form {
  border: 5px black;
}

.App a.Disable {
  display: none;
} */
